.field{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 90vw;
    border: 5px solid rgb(50, 87, 56);
    border-radius: 2.5%;
    background-image: url(../../../../assets/mediumFieldBlur.png);
    background-size:91vw 40vh;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    display: flex;
    height: 25%;
    width: 100%;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-around;
}

.font{    
    font-size: 1em;
    font-family:fantasy, Impact, 'Arial Narrow Bold', sans-serif;
    color: #191919;
}