.teamVsTeam{
    background-color: #19191971;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ff0400;
    text-align: center;
    -webkit-text-stroke: 1px #191919;
}