.component-name {
    color: rgb(215, 215, 215);
    background-color: gray;
}

.section-formAndoutput {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.form {
    display:inline-flex;
    max-width: fit-content;

}

.form-input-box {
    width: 40vw;
    height: 60vh;
    resize: none;
}