/*
METHODOLOGY: BEM BASED STYLED (block-name__element-name_modifier-name_modifier-value)
RESPONSIVE DESIGN METHOD: FLEX-BOX BASED

*/
/* LAYOUT (header + footer): 20VH; PAGE: 80VH */

.section {
    display: flex;
    flex-direction: column;
}
.section__button {
    height: 5vh;
}
.section__textarea {
    height: 70vh;
    resize: none;
}
.article {
    height: 70vh;
    overflow: scroll;
}

