
/* LAYOUT (header + footer): 20VH; PAGE: 80VH */

.font{
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#191919;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    border-radius: 2.5%;
}
.section__button {
    height: contain;
    background-color: #ff3936;
    border-radius: 2.5%;

}
.section__textarea {
    height: 70vh;
    resize: none;
    margin: 1.5% 0 1.5% 0;
    background-color: #ff7673;
    border: transparent;
}
.section__textarea::placeholder {
    color: #404040;
};

.article {
    height: 70vh;
    overflow: scroll;
}
.article__table{
    width: 91vw;
    background-color: #ff7673;
}
.article__input{
    border: 2px solid #ff0400;
    background-color: #fafafa;
    margin-bottom: 2.5%;
}