
.container{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: relative;
    text-align: center;
    background-color: #19191911;
    border-radius: 15%;
}

.font{
    margin: 0;
}
.pechera{
    width: 13vw;
    max-width: 56px;
    height: auto;
}
.name{
    font-size: max(70%);
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    color:#191919;
    font-weight: bold;
    letter-spacing: 0.08em;
}
.number{
    font-size: max(180%);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    -webkit-text-stroke: 1.5px #191919;
}