.app{
  background-image: url(./assets/banner.png);
  border-radius: 2.5%;
}
.app__title{
  height: 10vh;
  padding: 0;
  background-color: #19191971;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff0400;
  -webkit-text-stroke: 2.5px #fafafa;
}
.app__footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  color: #ff0400;
  padding: 0;
}